@import '~milligram/src/milligram';
@import 'themify-icons.css';

$success: green;

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }

    input+span {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }

    input+span:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + span {
        background-color: $success;
    }

    input:focus + span {
        box-shadow: 0 0 1px $success;
    }

    input:checked + span:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    &.switch-sm{
        width: 40px;
        height: 22px;

        input+span {
            border-radius: 22px;
        }

        input+span:before {
            height: 18px;
            width: 18px;
            left: 2px;
            bottom: 2px;
        }

        input:checked + span:before {
            -webkit-transform: translateX(18px);
            -ms-transform: translateX(18px);
            transform: translateX(18px);
        }
    }

    &.switch-xs{
        width: 26px;
        height: 16px;

        input+span {
            border-radius: 22px;
        }

        input+span:before {
            height: 12px;
            width: 12px;
            left: 2px;
            bottom: 2px;
        }

        input:checked + span:before {
            -webkit-transform: translateX(12px);
            -ms-transform: translateX(12px);
            transform: translateX(12px);
        }
    }
}

html, body{
  font-size: 14pxl
}

.flex-1{
  flex-grow: 1;
}


.header{
  display: flex;
  border-bottom: solid 1px #ddd;
  align-items: center;

  .logo{
    img{
      width: 26px;
    }
  }

  .name{
    line-height: 44px;
    font-size: 1.8rem;
    padding-left: 10px;
    font-weight: bold;
  }

  .action{
    
  }
}


.content{
  
}
